<div class="container-fluid m-0 mb-5">
    <div class="row">
      <div class="col-md-auto"><h4 class="font-arial-black text-white">BOGOTÁ</h4></div>
      <div class="col-sm-auto"><h4 class="font-arial-black text-azul">l</h4></div>
      <div class="col-md-auto"><h4 class="font-arial-black text-white">MEDELLÍN</h4></div>
    </div>
    <div class="row">
      <div class="col-md-auto cursor-pointer" (click)="mostrarFormulario('bogota')"><h5 class="font-akzidenz-md text-white">REGISTRARSE</h5></div>
      <div class="col-sm-auto cursor-pointer" (click)="mostrarFormulario('bogota')"><h5 class="font-arial-black text-azul"><i class="fas fa-chevron-circle-right text-rosado"></i></h5></div>
      <div class="col-sm-auto"></div>
      <div class="col-md-auto cursor-pointer" (click)="mostrarFormulario('medellin')"><h5 class="font-akzidenz-md text-white">REGISTRARSE</h5></div>
      <div class="col-sm-auto cursor-pointer" (click)="mostrarFormulario('medellin')"><h5 class="font-arial-black text-azul"><i class="fas fa-chevron-circle-right text-rosado"></i></h5></div>
    </div>
    <div class="row background-piano" *ngIf="formularioBogota==true">
      <app-registro-bogota></app-registro-bogota>
    </div>
    <div class="row background-piano" *ngIf="formularioMedellin==true">
        <app-registro-medellin></app-registro-medellin>
      </div>
</div>

