@font-face {
    font-family: Arial-Black;
    src: url('/assets/fonts/Arial\ Black.ttf');
}
@font-face {
    font-family: Akzidenz-md;
    src: url('/assets/fonts/AkzidenzGroteskBE-MdCn.ttf');
}
@font-face {
    font-family: Akzidenz-bold;
    src: url('/assets/fonts/AkzidenzGroteskBE-BoldCn.ttf');
}
body{
    background: url(/assets/img/Nube\ final@72x.png);
    background-size: 100%;
    background-position: 0 -5em;
    background-repeat: no-repeat;
    background-color: #141414;
    padding: 1em;
}
.w-80{
    width: 80%;
}
.font-arial-black{
    font-family: Arial-Black;
}
.font-akzidenz-md{
    font-family: Akzidenz-md;
}
.font-akzidenz-bold{
    font-family: Akzidenz-bold;
}
.text-azul{
    color: #55aac8;
}
.text-rosado{
    color: #c24776;
}
.cursor-pointer:hover{
    cursor: pointer;
}
.background-piano{
    background: url(/assets/img/fondo\ formulario@72x.png);
    background-size: 100%;
    background-repeat: no-repeat;
}